[submodule "misc/hterm-patch"]
	path = misc/hterm-patch
	url = https://gist.github.com/9789131.git
[submodule "utils/offirmo-shell-lib"]
	path = utils/offirmo-shell-lib
	url = git@github.com:Offirmo/offirmo-shell-lib.git
[submodule "custom/vim/bundle/ctrlp.vim"]
	path = custom/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "custom/vim/bundle/vim-airline"]
	path = custom/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "custom/vim/bundle/vim-gitgutter"]
	path = custom/vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "custom/vim/bundle/vim-colors-solarized"]
	path = custom/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
