[submodule "misc/hterm-patch"]
	path = misc/hterm-patch
	url = https://gist.github.com/9789131.git
[submodule "utils/offirmo-shell-lib"]
	path = utils/offirmo-shell-lib
	url = git@github.com:Offirmo/offirmo-shell-lib.git
[submodule "custom/vim/bundle/ctrlp.vim"]
	path = custom/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "custom/vim/bundle/vim-airline"]
	path = custom/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "custom/vim/bundle/vim-gitgutter"]
	path = custom/vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "custom/vim/bundle/vim-scala"]
	path = custom/vim/bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "custom/vim/bundle/vim-monochrome"]
	path = custom/vim/bundle/vim-monochrome
	url = https://github.com/fxn/vim-monochrome
[submodule "custom/vim/bundle/vim-airlineish"]
	path = custom/vim/bundle/vim-airlineish
	url = https://github.com/paranoida/vim-airlineish
[submodule "custom/vim/bundle/supertab"]
	path = custom/vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "custom/vim/bundle/tagbar"]
	path = custom/vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "custom/vim/bundle/nerdtree"]
	path = custom/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "custom/vim/bundle/vim-nerdtree-tabs"]
	path = custom/vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "custom/vim/bundle/vim-easymotion"]
	path = custom/vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "custom/vim/bundle/ack.vim"]
	path = custom/vim/bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
